@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --main-bg-color: #f57d00;
    --font1: "Baloo Bhaina 2", cursive;
    --font2: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    /* height: 74px;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
}

.nav-left img {
    width: 65px;
    margin-top: 20px;
}

.nav-left span {
    font-size: 35px;
    padding-top: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
    padding-bottom: 23px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}

.form-box input,
textarea {
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;
}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--main-bg-color);
    color: white;
}

.content {
    height: 100%;
    display: flex;
    margin-top: 32px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url("../img/bg.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 49px;
    z-index: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 250px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 25px;
    position: relative;
}

.year-box {
    position: absolute;
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 18px;
}

.year-box div {
    margin: 12px 0px;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 10vh;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer-right {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.footer-right p {
    margin: 0 5px;
}

.footer-right a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.footer-left {
    display: flex;
}

.footer-left img{
    width: 30px;
    margin: 8px 12px;
}

.footer-left h2{
    margin-top: 10px;
    margin-right: 15px;
}

.icons {
    margin:  17px 8px;
    cursor: pointer;
}
